@model IEnumerable<SmartHome.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1> Panel Smart Home </h1>

<p>
    <a asp-action="Create">Dodaj Pokój&nbsp;&nbsp;</a>
    <a asp-action="Settings">Ustawienia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <!--
            <th class="text-white">
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
                -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <!--
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
    -->
            <!--
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
    -->
        </tr>
}
    </tbody>
</table>
